*.sqlite3
*.idea
migrations/
__pycache__
*.fish
*.csh
*.7
venv/bin/activate
venv/bin/django-admin
venv/bin/django-admin.py
venv/bin/easy_install
venv/bin/pip
venv/bin/pip3
venv/bin/python
venv/bin/python3
venv/bin/sqlformat
venv/pyvenv.cfg
.DS_Store
qr/.DS_Store
!*.secret
.gitsecret/keys/random_seed
qr/resources/credentials.json
