
    body{
        margin:0 !important;
        padding:25px !important;
        background: #D8E5EC;
        font-family:Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
    }



    .order {
        max-width: 350px;
        min-height:353px;
        margin: auto;
        padding:15px 0;
        color: #3f3f3f;
        background:white;
        position: relative;
        text-align: center;
        transition: all .25s ease-in-out;
        box-shadow: 0 0 23px rgba(0,0,0,.2);
        border-radius: 5px 5px 0 0;
    }

    table{
        border: 0px;
        margin: 0px auto 0 auto;
        width: 250px;
        font-weight:400;
        color:#666;
   }

    td{
        padding:0;
        margin:0;
    }

    .less{
        padding: 0px 0px;
        margin:0;
    }

    .less h1{
        margin:0;
        padding:0;
    }


    .left-align{
        text-align:left;
    }

    .right-align{
        text-align:right;
    }

   .center-align{
        text-align:center;
   }


    .jagged-paper {
        height: 25px;
        max-width: 352px;
        background: url('receipt-paper-jagged-edge-2.png') repeat-x 0px 5px;
        background-size: 9% 100%;
        margin: -6px auto 15px auto;
        position: relative;
        z-index: 999;
    }

    .logo{
        width: 250px;
        height: 70px;
        background-color: #ccc;
        display: inline-block;
        background: #fff url('crushed_logo_sm.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tip-title{
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        /* color: #fdb100; */
    }



    .button-group-tip{
        padding:0;
        white-space:nowrap;
        margin: 0 0 17px 0;
    }

    .button-group-tip div{
        padding:0 0 10px 0;
    }

    .button-group-tip button{
        border: 0px;
        border-radius: 5px;
        background: #dedede;
        padding: 17px 20px;
        font-size: 1.3em;
        font-weight: bold;
        letter-spacing: -1px;

    }




/* start - custom tip area */

.custom-tip-button{
    margin: 15px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 0 !important;

}

.custom-tip-container{
    margin:0;
    padding:0 !important;
    height:0;
    overflow:hidden;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
    line-height:0;
    position:relative;
}

.custom-tip-container::before {
    content: '$';
    position: absolute;
    top: 23px;
    left: 20px;
    z-index: 1;
    font-weight: bold;
    color: black;
}

.custom-tip-open + .custom-tip-container{
    height:55px;
}

#custom-tip {
    padding: 10px;
    text-align:right;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: -1px;



    color:black;
}

/* end - custom tip area */



    button.no-tip{
        border:0;
        color: #ccc;
        font-size: .9rem;
        background:none;
        letter-spacing:0px;
        padding:20px 0 0 0;
        display:none;
    }


    hr.dotted-light{
        background:transparent;
        height:1px;
        border:1px dotted #ccc;
        border-width:4px 0 0 0;
    }

    hr.dotted-heavy{
        background:transparent;
        height:5px;
        border:5px dotted #FDC43A;
        border-width:5px 0 0 0;
    }

    #payment-request-button.StripeElement,
    #stripe-payment-form,
    #paypal-button-container,
    .payment-buttons-container{
        max-width: 350px;
        margin: 20px auto;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        border:0px solid rgba(255,255,255,.2);
        border-radius:4px;
    }
    #paypal-button-container{
        height:45px;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        border:0px solid #e6a300;
     }

    #stripe-payment-form{
        box-shadow: 0 0 20px rgba(0,0,0,.2);
    }

    #applepay-payment-form input{
        border:1px solid red;
    }

    #paypal-payment-form {
        display: none;
    }


    /* --------- loading modal --------- */

.page-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,.5);
}

.modal-box{
    padding: 25px 30px 50px 30px;
    color: #3f3f3f;
    font-size: .6rem;
    background: white;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    z-index: 99999;
    position: absolute;
    top: 20vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 200px;
    white-space: nowrap;
 }

 .modal-box h1{
    font-weight: 400;
    color: #4c4c4c;
    font-size: 22px;
 }


#loader{
    display:none;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid red;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0ff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



    /* --------- success --------- */

    #stamp{
        color: #37D3B7;
        font-size: 3rem;
        border: 8px double;
        border-radius: 900px;
        transform: rotate(330deg);
        text-transform: uppercase;
        padding: 30px 0;
        text-decoration: underline overline;
        /*margin: -15px 96px; */
        position: absolute;
        top: 113px;
        left:100px;
        display:none;
    }


@media screen and (min-width: 400px) {
  #stamp{
    margin: 0 110px;
  }
}

#survey, #survey-thanks{
    opacity: 1
    display:block;
    max-width: 350px;
    margin:0 auto;
    text-align:center;
    font-weight:400;
    font-size:20px;
    color:#555;
}

#survey h2{
    margin:0;
}
#survey p{
    padding: 8px 0 23px 0;
    margin:0;
}


form#survey-form input[type=button]{
    font-size:22px;
    -webkit-border-radius:4px;
    -webkit-appearance: none;
    padding:10px 20px;
    color:white;
    background-color:#009040;

}

    p.powered-by-qrcodeio{
        max-width: 320px;
        margin: 30px auto 0;
        color: #999;
        text-align:center;
        font-size:.9rem;
    }


    .powered-by-qrcodeio a{
        text-decoration:none;
        color: #00a587;

    }

    .display-none{
        display:none;
    }

/* changes to page pre and post payment */



    #paid-footer{
        display:block;
    }

    .paid .tip,
    .paid #paypal-button-container,
    .paid #apply-pay-button,
    .paid .payment-buttons-container{display:none;}



    .confirmation-message{
        padding:20px 25px 10px 25px;
        margin:20px;
        font-size: 18px;
        background-color:#009040;
        color:white;
        border-radius: 8px;

    }

    .confirmation-message h3{
        text-transform:uppercase;
        padding:0;
        margin:0;
        font-size:1.5em;
    }



    .confirmation{
        text-align:center;
        color:#3e3e3e;
        padding:0 10px;
        font-size:24px;
    }

    .powered-by-qrcodeio a{
        text-decoration:none;
        color: #00a587;

    }


    .unpaid, .success,
    .unpaid footer {
        display:none;
    }

/**
 * Stripe
 */
#payment-request-button.StripeElement {
  padding: 0; /* For Apple Pay */
  margin: 15px auto;
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#stripe-submit {
    border: none;
    border-radius: 4px;
    outline: none;
    width: 100%;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-weight:300;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin: 0 auto;
}

.transition.out{
    opacity: 0;
}

.transition {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}


