<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142501568-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142501568-2');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Crushed PB - Order {{ fields.order_id }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AUrba_D_ZjQppeHmyIMG5ocxIf-HWV3KOjrUONZ-ALxaP2ZQ_46m5W1x6Fu1Tm9UaAXACBmifjrjY28V&disable-funding=credit,card"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="order">
        <div class="logo"/></div>

        <table id="unpaid">

            <tr>
                <td class="left-align">Date:</td>
                <td class="right-align">10-31-2019</td>
            </tr>
            <tr>
                <td class="left-align">Order number:</td>
                <td class="right-align">{{ fields.order_id }}</td>
            </tr>
            <tr>
                <td colspan="2"><hr class="dotted-light" /></td>
            </tr>
            <tr>
                <td class="left-align"><strong>Subtotal:</strong></td>
                <td class="right-align"><strong>{{ fields.subtotal }}</strong></td>
            </tr>

            <tr id="tip" class="tip">
                <td colspan="2" >
                    <div class="button-group-tip">
                        <p>Add tip</p>
                        <button onclick="percent_tip(.15)">15%</button>
                        <button onclick="percent_tip(.20)">20%</button>
                        <button onclick="percent_tip(.25)">25%</button>
                        <br />
                        <button class="no-tip" onclick="percent_tip(.00)">No tip</button>
                    </div>

                </td>
            </tr>

            <tr>
                <td class="left-align"><strong>Tip:</strong></td>
                <td class="right-align"><strong>$<span id="tip-amount">0.00</span></strong></td>
            </tr>

            <tr>
                <td class="less" colspan="2"><hr class="dotted-heavy" /></td>
            </tr>
        <tr class="less">
            <td class="left-align less"><h1>Total:</h1></td>
            <td class="right-align"><h1>$<span id="total">{{ fields.subtotal }}</span></h1></td>
            </tr>
        </table>

        <div id="paid" class="success">
            <h3>Paid</h3>
            <h2>Thank you for eating at Crushed!</h2>
        </div>
    </div>
    <div class="jagged-paper"></div>
    <!-- For card payments -->
    <form action="/charge" method="post" id="payment-form">
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display Element errors. -->
        <div id="card-errors" role="alert"></div>
      </div>

      <button id="stripe-submit">Pay with Card</button>
    </form>
    <!-- For browser or OS saved payments -->
    <div id="payment-request-button">
      <!-- A Stripe Element will be inserted here. -->
    </div>
    <div id="paypal-button-container"></div>

    <footer id="paid-footer">
        <p class="protip"">Protip: Your can leave whenever you want. No need to let your server know.</p>
        <p class="powered-by-qrcodeio">Powered by <a href="https://qr-code.io/"> QR-Code.io</a></p>
    </footer>



</body>
<script>
    var stripe = Stripe('pk_test_M8Qj7M8ImoYAvYa8tJOYJmCT');
    var paid = "{{ fields.paid }}" == "True";
    var grandTotal = {{ fields.subtotal }};
    var percent_tip = function(percent){
            var subtotal = parseFloat({{ fields.subtotal }}).toFixed(2);
            var tip = (subtotal*percent).toFixed(2);
            var total = (parseFloat(subtotal)+parseFloat(tip)).toFixed(2);
            document.getElementById('tip-amount').textContent = tip;
            document.getElementById('total').textContent = total;
            grandTotal = total;
    }

    if(paid){
        // Hide unpaid
        document.getElementById("tip").style.display = 'none';
        document.getElementById("paypal-button-container").style.display = 'none';
        document.getElementById("payment-form").style.display = 'none';
        // Show paid
        document.getElementById("paid").style.display = 'block';
        document.getElementById("paid-footer").style.display = 'block';
        document.getElementById("protip").style.display = 'block';
    }
    else {
        /* STRIPE CARD */
        var style = {
          base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
              color: '#aab7c4'
            }
          },
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
          }
        };

        // Create an instance of the card Element.
        var elements = stripe.elements();
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
          event.preventDefault();

          stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the customer that there was an error.
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              // Send the token to your server.
              stripeTokenHandler(result.token);
            }
          });
        });

        function stripeTokenHandler(token) {
          // Insert the token ID into the form so it gets submitted to the server
          var form = document.getElementById('payment-form');
          var stripeToken = document.createElement('input');
          var orderId =  document.createElement('input');
          var amount = document.createElement('amount');
          stripeToken.setAttribute('type', 'hidden');
          orderId.setAttribute('type', 'hidden');
          amount.setAttribute('type', 'hidden');
          stripeToken.setAttribute('name', 'stripeToken');
          orderId.setAttribute('name', 'orderId');
          amount.setAttribute('name', 'amount');
          stripeToken.setAttribute('value', token.id);
          orderId.setAttribute('value', {{ fields.order_id }});
          amount.setAttribute('value', grandTotal);
          form.appendChild(stripeToken);
          form.appendChild(orderId);
          form.appendChild(amount);

          // Submit the form
          form.submit();
        }

       /* STRIPE APPLE PAY */

       var paymentRequest = stripe.paymentRequest({
          country: 'US',
          currency: 'usd',
          total: {
            label: 'Demo total',
            amount: 1,
          },
          requestPayerName: true,
          requestPayerEmail: true,
        });

        var elements = stripe.elements();
        var prButton = elements.create('paymentRequestButton', {
          paymentRequest: paymentRequest,
        });

        // Check the availability of the Payment Request API first.
        paymentRequest.canMakePayment().then(function(result) {
          if (result) {
            prButton.mount('#payment-request-button');
          } else {
            document.getElementById('payment-request-button').style.display = 'none';
          }
        });

        paymentRequest.on('token', function(ev) {
          // Send the token to your server to charge it!
          fetch('/charges', {
            method: 'POST',
            body: JSON.stringify({token: ev.token.id}),
            headers: {'content-type': 'application/json'},
          })
          .then(function(response) {
            if (response.ok) {
              // Report to the browser that the payment was successful, prompting
              // it to close the browser payment interface.
              ev.complete('success');
            } else {
              // Report to the browser that the payment failed, prompting it to
              // re-show the payment interface, or show an error message and close
              // the payment interface.
              ev.complete('fail');
            }
          });
        });


        paypal.Buttons({
            createOrder: function(data, actions) {
                // Set up the transaction
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: grandTotal
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
            //TODO: Do this server side https://developer.paypal.com/docs/checkout/integrate/#6-verify-the-transaction
                // Capture the funds from the transaction
                return actions.order.capture().then(function(details) {
                    // Hide unpaid
                    document.getElementById("tip").style.display = 'none';
                    document.getElementById("paypal-button-container").style.display = 'none';
                    // Show paid
                    document.getElementById("paid").style.display = 'block';
                    document.getElementById("paid-footer").style.display = 'block';
                    document.getElementById("protip").style.display = 'block';
                    // Call your server to save the transaction
                    return fetch('/paypal-transaction-complete', {
                        method: 'post',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID
                        })
                    });
                });
            }
        }).render('#paypal-button-container');
    }

</script>
</html>
