[Unit]
Description=QR service
After=syslog.target

[Service]
Environment=DJANGO_SETTINGS_MODULE=qr.settings_server
User=ec2-user
Group=ec2-user
ExecStart=/usr/local/bin/uwsgi --ini /home/ec2-user/qr.ini
RuntimeDirectory=uwsgi
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target